Importing credit card fraud data, with fraud marked in Target column

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Credit card fraud/application_data.csv")

In [3]:
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
y=data['TARGET']
feature_col=[2,4,5,6,7,8,9]
x=data.iloc[:,feature_col]

In [8]:
x.describe()

        CNT_CHILDREN  AMT_INCOME_TOTAL    AMT_CREDIT    AMT_ANNUITY
count  307511.000000      3.075110e+05  3.075110e+05  307499.000000
mean        0.417052      1.687979e+05  5.990260e+05   27108.573909
std         0.722121      2.371231e+05  4.024908e+05   14493.737315
min         0.000000      2.565000e+04  4.500000e+04    1615.500000
25%         0.000000      1.125000e+05  2.700000e+05   16524.000000
50%         0.000000      1.471500e+05  5.135310e+05   24903.000000
75%         1.000000      2.025000e+05  8.086500e+05   34596.000000
max        19.000000      1.170000e+08  4.050000e+06  258025.500000

In [10]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int64
 1    TARGET                        int64
 2    NAME_CONTRACT_TYPE            object
 3    CODE_GENDER                   object
 4    FLAG_OWN_CAR                  object
 5    FLAG_OWN_REALTY               object
 6    CNT_CHILDREN                  int64
 7    AMT_INCOME_TOTAL              float64
 8    AMT_CREDIT                    float64
 9    AMT_ANNUITY                   float64
 10   AMT_GOODS_PRICE               float64
 11   NAME_TYPE_SUITE               object
 12   NAME_INCOME_TYPE              object
 13   NAME_EDUCATION_TYPE           object
 14   NAME_FAMILY_STATUS            object
 15   NAME_HOUSING_TYPE             object
 16   REGION_POPULATION_RELATIVE    float64
 17   DAYS_BIRTH                    int64
 18   DAYS_EMPLOYED                 int64
 19   DAYS_REGISTRATION             float64
 20   DAYS_ID_PUBLISH               int64
 21   OWN_CAR_AGE                   float64
 22   FLAG_MOBIL                    int64
 23   FLAG_EMP_PHONE                int64
 24   FLAG_WORK_PHONE               int64
 25   FLAG_CONT_MOBILE              int64
 26   FLAG_PHONE                    int64
 27   FLAG_EMAIL                    int64
 28   OCCUPATION_TYPE               object
 29   CNT_FAM_MEMBERS               float64
 30   REGION_RATING_CLIENT          int64
 31   REGION_RATING_CLIENT_W_CITY   int64
 32   WEEKDAY_APPR_PROCESS_START    object
 33   HOUR_APPR_PROCESS_START       int64
 34   REG_REGION_NOT_LIVE_REGION    int64
 35   REG_REGION_NOT_WORK_REGION    int64
 36   LIVE_REGION_NOT_WORK_REGION   int64
 37   REG_CITY_NOT_LIVE_CITY        int64
 38   REG_CITY_NOT_WORK_CITY        int64
 39   LIVE_CITY_NOT_WORK_CITY       int64
 40   ORGANIZATION_TYPE             object
 41   EXT_SOURCE_1                  float64
 42   EXT_SOURCE_2                  float64
 43   EXT_SOURCE_3                  float64
 44   APARTMENTS_AVG                float64
 45   BASEMENTAREA_AVG              float64
 46   YEARS_BEGINEXPLUATATION_AVG   float64
 47   YEARS_BUILD_AVG               float64
 48   COMMONAREA_AVG                float64
 49   ELEVATORS_AVG                 float64
 50   ENTRANCES_AVG                 float64
 51   FLOORSMAX_AVG                 float64
 52   FLOORSMIN_AVG                 float64
 53   LANDAREA_AVG                  float64
 54   LIVINGAPARTMENTS_AVG          float64
 55   LIVINGAREA_AVG                float64
 56   NONLIVINGAPARTMENTS_AVG       float64
 57   NONLIVINGAREA_AVG             float64
 58   APARTMENTS_MODE               float64
 59   BASEMENTAREA_MODE             float64
 60   YEARS_BEGINEXPLUATATION_MODE  float64
 61   YEARS_BUILD_MODE              float64
 62   COMMONAREA_MODE               float64
 63   ELEVATORS_MODE                float64
 64   ENTRANCES_MODE                float64
 65   FLOORSMAX_MODE                float64
 66   FLOORSMIN_MODE                float64
 67   LANDAREA_MODE                 float64
 68   LIVINGAPARTMENTS_MODE         float64
 69   LIVINGAREA_MODE               float64
 70   NONLIVINGAPARTMENTS_MODE      float64
 71   NONLIVINGAREA_MODE            float64
 72   APARTMENTS_MEDI               float64
 73   BASEMENTAREA_MEDI             float64
 74   YEARS_BEGINEXPLUATATION_MEDI  float64
 75   YEARS_BUILD_MEDI              float64
 76   COMMONAREA_MEDI               float64
 77   ELEVATORS_MEDI                float64
 78   ENTRANCES_MEDI                float64
 79   FLOORSMAX_MEDI                float64
 80   FLOORSMIN_MEDI                float64
 81   LANDAREA_MEDI                 float64
 82   LIVINGAPARTMENTS_MEDI         float64
 83   LIVINGAREA_MEDI               float64
 84   NONLIVINGAPARTMENTS_MEDI      float64
 85   NONLIVINGAREA_MEDI            float64
 86   FONDKAPREMONT_MODE            object
 87   HOUSETYPE_MODE                object
 88   TOTALAREA_MODE                float64
 89   WALLSMATERIAL_MODE            object
 90   EMERGENCYSTATE_MODE           object
 91   OBS_30_CNT_SOCIAL_CIRCLE      float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      float64
 95   DAYS_LAST_PHONE_CHANGE        float64
 96   FLAG_DOCUMENT_2               int64
 97   FLAG_DOCUMENT_3               int64
 98   FLAG_DOCUMENT_4               int64
 99   FLAG_DOCUMENT_5               int64
 100  FLAG_DOCUMENT_6               int64
 101  FLAG_DOCUMENT_7               int64
 102  FLAG_DOCUMENT_8               int64
 103  FLAG_DOCUMENT_9               int64
 104  FLAG_DOCUMENT_10              int64
 105  FLAG_DOCUMENT_11              int64
 106  FLAG_DOCUMENT_12              int64
 107  FLAG_DOCUMENT_13              int64
 108  FLAG_DOCUMENT_14              int64
 109  FLAG_DOCUMENT_15              int64
 110  FLAG_DOCUMENT_16              int64
 111  FLAG_DOCUMENT_17              int64
 112  FLAG_DOCUMENT_18              int64
 113  FLAG_DOCUMENT_19              int64
 114  FLAG_DOCUMENT_20              int64
 115  FLAG_DOCUMENT_21              int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    float64
 119  AMT_REQ_CREDIT_BUREAU_MON     float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    float64
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [15]:
num_col=[6,7,8,9]
cat_col=[1,2,4,5]

#### Data Preprocessing

X - Features (Num + Cat)
y - Target (0, 1)

##### Numerical Columns
- Normalize (MixMax Scaler, Standard Normalization)

##### Categorical Columns
- Labeling of categories for col (M, F, T - 1, 2, 3)
- One hot encoding of categories

### Model 1 - Only Numerical columns

In [37]:
data = data[~data["AMT_ANNUITY"].isna()]
x = data.iloc[:,num_col]

In [38]:
x.head()

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY
0             0          202500.0    406597.5      24700.5
1             0          270000.0   1293502.5      35698.5
2             0           67500.0    135000.0       6750.0
3             0          135000.0    312682.5      29686.5
4             0          121500.0    513000.0      21865.5

In [39]:
y=data.iloc[:,1]
y.head()

0    1
1    0
2    0
3    0
4    0
Name: TARGET, dtype: int64

In [40]:
from sklearn.preprocessing import MinMaxScaler

In [41]:
scaler = MinMaxScaler()
"""
(0,1)
"""
x = scaler.fit_transform(x)

In [42]:
x = pd.DataFrame(x, columns=["CNT_CHILDREN","AMT_INCOME_TOTAL","AMT_CREDIT","AMT_ANNUITY"])

In [43]:
x.head()

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY
0           0.0          0.001512    0.090287     0.090032
1           0.0          0.002089    0.311736     0.132924
2           0.0          0.000358    0.022472     0.020025
3           0.0          0.000935    0.066837     0.109477
4           0.0          0.000819    0.116854     0.078975

In [44]:
x.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307499 entries, 0 to 307498
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CNT_CHILDREN      307499 non-null  float64
 1   AMT_INCOME_TOTAL  307499 non-null  float64
 2   AMT_CREDIT        307499 non-null  float64
 3   AMT_ANNUITY       307499 non-null  float64
dtypes: float64(4)
memory usage: 9.4 MB

In [89]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=3)

In [90]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [91]:
model.score(x_test,y_test)

0.9196314363143632

In [92]:
model.score(x_train,y_train)

0.9191122839130496

In [99]:
from sklearn.metrics import precision_score, recall_score

true_labels = y_test
predicted_labels = model.predict(x_test)

precision = precision_score(true_labels, predicted_labels)
recall = recall_score(true_labels, predicted_labels)

print(f"Precision: {precision}")
print(f"Recall: {recall}")

Precision: 0.0
Recall: 0.0

C:\Users\shagu\Downloads\Installations\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Even though accuracy was high, recall was 0 because

In [113]:
import numpy as np
unique_values = np.unique(y_test, return_counts=True)

In [114]:
unique_values_train = np.unique(y_train, return_counts=True)

In [115]:
print(unique_values_train)

(array([0, 1], dtype=int64), array([197838,  17411], dtype=int64))

Decision tree classifier

In [97]:
from sklearn.tree import DecisionTreeClassifier

# Create a decision tree classifier
clf = DecisionTreeClassifier()

In [98]:
clf.fit(x_train, y_train)

DecisionTreeClassifier()

In [100]:
predicted_labels=clf.predict(x_test)

In [101]:
precision=precision_score(y_test,predicted_labels)

In [102]:
recall=recall_score(y_test,predicted_labels)

In [103]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,predicted_labels)

In [105]:
print(f"Precision score {precision}")
print(f"Recall score {recall}")
print(f"Accuracy score {accuracy}")

Precision score 0.11159220625861051
Recall score 0.07647693552738064
Accuracy score 0.8768455284552845

Very good model - As recall score is high. On the safer side, it includes as all True Positives, in addition to posible risks as False Positives

In [117]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(true_labels, predicted_labels)
print(cm)

[[80322  4514]
 [ 6847   567]]

### Next Steps

1. Try adding categorical features
2. Build Random Forest Model
3. Build XGBoost model
4. How to optimise for precision/recall - changing model threshhold